* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content:space-around;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.sub-title {
  display: flex;
  font-style: italic;
  justify-content: center;
  margin-top: 10px;
}

.main {
  display: flex;
  justify-content: center;
}

.imagens-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 40%;
}

.image {
  align-items: center;
  background-color: rgba(27, 231, 238, 0.815);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
