html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(31, 30, 30);
  color: white;
  font-size: x-large;
  margin: 15px;
}

header p {
  font-size: 200%;
  font-style: italic;
}

#asides li{
  line-height: 50px;
}

@media screen and (min-width: 600px) {
  header  p {
    text-align: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 70%;
    margin: auto;
  }

  #asides {
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }

  .main-content {
    font-size: x-large;
  }
}