body {
  margin:0;
}

header {
  border:1px solid blue;
  background-color: blue;
  color: white;
}
header h1 {
  margin-left: 15px;
}

.nav ul li{
  display: inline;
  margin-right: 50px;
  color: white;
}
.nav ul{
  background-color:skyblue;
  margin: 0;
  padding: 15px;
}

.article {
  padding: 10px;
}
.article h3 {
  font-style: italic;
}
.article section{
  margin-bottom: 50px;
}
.article section img {
  width: 250px;
}

#article-section-1 ul {
  font-weight: bold;
  list-style: square;
}
#article-section-1 img {
  float: left;
  margin-right: 50px;
}

.span {
  font-weight: bold;
}

#video {
  padding:10px;
  font-size: 20px;
  line-height: 40px;
}

footer {
  border:1px solid blue;
  background-color: blue;
  color: white;
}